@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes imageMoveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes imageMoveInRight {
    0% {
        opacity: 0;
        transform: translateX(100rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes imageMoveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-100rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes imageMoveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes heartLeft {
    0% {
      background-color: #FCD9D9;
      transform: translateX(-.1rem) translateY(.1rem) rotate(-45deg);

    }
    50% {
      background-color: #F9B3B3;
      transform:rotate(-45deg);
    }
    100% {
      background-color: #FCD9D9;
      transform: translateX(0rem) translateY(0rem) rotate(-45deg);

    }
}
@keyframes heartBottom {
    0% {
      background-color: #FCD9D9;
      transform: translateX(0rem) translateY(1rem) rotate(-45deg);

    }
    50% {
      background-color: #F9B3B3;
      transform:rotate(-45deg);
    }
    100% {
      background-color: #FCD9D9;
      transform: translateX(0rem) translateY(0rem) rotate(-45deg);

    }
}
@keyframes heartRight {
    0% {
      background-color: #FCD9D9;
      transform: translateX(-.1rem) translateY(.1rem) rotate(-45deg);

    }
    50% {
      background-color: #F9B3B3;
      transform:rotate(-45deg);
    }
    100% {
      background-color: #FCD9D9;
      transform: translateX(0rem) translateY(0rem) rotate(-45deg);

    }
}