$color-primary: #55c57a;
$color-secondary-dark: #ff7730;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-2: #999;
$color-white: white;
$color-black: black;
$color-grey: grey;

// font size
$default-font-size: 1.6rem;
