$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark:#28b485;

$color-grey-light-1: #f7f7f7;

$color-white: white;
$color-black: black;
$color-grey: grey;

// font size
$default-font-size: 1.6rem;


// grid test
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


.u-center-text {text-align: center;}

.u-margin-bottom-small  {margin-bottom: 1.5rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-big {margin-bottom: 8rem;}