.detail--title h1 {
    margin: 3rem;
    font-style: italic;
}

.detail--content {
    & ul {
        list-style: none;
    }

    & div span,
    & ul,
    & p {
        font-size: 1.8rem;
    }

    & div h2,
    & ul h2,
    & h2 {
        text-transform: capitalize;
        color: $color-grey-dark-2;
    }

    & div h2 {
        display: inline-block;
    }

    & div span,
    & ul li {
        margin-left: 3rem;
        font-weight: 500;
    }
}
