.list {
    position: relative;
    
    &__text--box {
        position: absolute;
        top: 40%;
    }
}

.list-primary {
    color: $color-black;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.img {
    width: 20rem;
    filter: brightness(0.85) contrast(100%);

    &:hover {
        transition: filter .3s;
        filter: brightness(1.1) contrast(110%);
        transform: translateY(-3px);
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
        }
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }
    
    &--animated {
        animation-fill-mode: backwards;
        animation-timing-function: ease-in-out;
    }
}