@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes imageMoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes imageMoveInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes imageMoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-100rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes imageMoveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* reset everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: grey;
  padding: 3rem; }

.btn, .btn:link, .btn:visited {
  padding: 1.5rem 8rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:focus, .btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: grey;
  background-color: white;
  border: grey solid 0.1rem; }
  .btn--white::after {
    background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  transform: translateY(0); }

.home {
  height: 95vh;
  position: relative; }
  .home__text--box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: black;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-right: -3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-right: -1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }

.search {
  border-radius: 1rem;
  border: 3rem solid black; }
  .search__box {
    width: 100%;
    font-size: 2rem; }
  .search--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.list {
  position: relative; }
  .list__text--box {
    position: absolute;
    top: 40%; }

.list-primary {
  color: black;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.img {
  width: 20rem;
  filter: brightness(0.85) contrast(100%); }
  .img:hover {
    transition: filter .3s;
    filter: brightness(1.1) contrast(110%);
    transform: translateY(-3px);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
    .img:hover::after {
      transform: scaleX(1.4) scaleY(1.6); }
  .img:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .img--animated {
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(grey, black);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 230%;
  transition: all, .4s;
  span-margin-right: 10rem;
  span-display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: black;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg); }

.logo {
  border-radius: 5rem;
  position: fixed;
  right: 5rem;
  bottom: 5rem; }
  .logo:hover {
    transform: translateY(-3px);
    box-shadow: 0 0rem 3rem rgba(249, 38, 107, 0.5); }
    .logo:hover::after {
      transform: scaleX(1.4) scaleY(1.6); }
  .logo--animated {
    animation: moveInBottom 1s ease-out 1.5s;
    animation-fill-mode: backwards; }

.login {
  height: 85vh;
  position: relative; }
  .login__box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: #f7f7f7 solid;
  width: 100%;
  display: block; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }
